<h1 class="text-center text-info">Les Gossips</h1>
<br>
<p class="text-decoration-none"><%= link_to 'Créer un Gossip', new_gossip_path(), class: "btn btn-info" %></p>
<div class="container marketing">
  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-lg-4">
        <img src="https://source.unsplash.com/200x200/?portrait?sig=<%=rand(1..100)%>" 
                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
        <h2><%= gossip.user.first_name %></h2>
        <p>Titre : <%= gossip.title %></p>
        <p>Nombre de commentaire(s) : <%= gossip.comments.length %></p>
        <p>Like(s) : <%= gossip.likes.length %></p>
        <% if Like.find_by(gossip_id: gossip.id, user_id: current_user.id) %>
          <% like = Like.find_by(gossip_id: gossip.id, user_id: current_user.id) %>
          <%= button_to 'Supprimer le like', gossip_like_path(gossip.id, like.id), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= form_tag gossip_likes_path(gossip.id), method: "post" do %>
            <%= submit_tag "Like" %>
          <% end %>
        <% end %>
        <p class="text-decoration-none"><%= link_to 'Voir le gossip', gossip_path(gossip), class: "btn btn-info" %></p>
      </div>
    <% end %>
  </div>
</div>
