<h1>Voici la page du potin n°<%= params[:id]%></h1>
<p>
  <h2>Titre : <%= @gossip.title %></h2>
  Auteur : <%= @gossip.user.first_name %> <%= @gossip.user.last_name %><br/>
  Le gossip : <%= @gossip.content %><br/>
  Ville de l'auteur : <%= @gossip.user.city.name %>
  <br>
  <br>
  <p class="text-decoration-none"><%= link_to "Voir l'auteur", user_path(@gossip.user), class: "btn btn-info" %></p>

  <% if current_user == @gossip.user %>
    <p class="text-decoration-none"><%= link_to "Editer le gossip", edit_gossip_path(@gossip), class: "btn btn-primary" %></p>
    <%= button_to 'Supprimer le potin', gossip_path(@gossip), method: :delete, class: "btn btn-danger"%>
  <% end %>

  <p>Commentaire :</p>
  <p class="text-decoration-none"><%= link_to "Créer un commentaire", new_gossip_comment_path(@gossip.id), class: "btn btn-secondary" %></p>
  <% @comments.each do |comment| %>
    <% if comment.gossip_id == @gossip.id %>
      Auteur : <%= comment.user.first_name %> <%= comment.user.last_name %><br/>
      <div class="col-lg-4">
        <h2><%= comment.content %></h2>
          <% if current_user == @gossip.user %>
        <p class="text-decoration-none"><%= link_to "Editer le commentaire", edit_gossip_comment_path(@gossip.id, comment.id), class: "btn btn-primary" %></p>
          <% end %>
      </div>
    <% end %>
  <% end %>
