<%# -------------------------------Content------------------------------- %>
<div class="container text-center">
  <!--   <h1>Voici la page du potin n°<%= params[:id]%></h1>-->
  <div class="row">
    <div class="col-sm-3 well">
      <%# -------------------------------Connected user------------------------------- %>
      <div class="well">
        <img src="https://source.unsplash.com/200x200/?city?sig=<%=rand(1..100)%>" 
                alt="city" class="rounded-circle img-fluid" style="width: 150px;">
<h3><strong>Ville : </strong></h3>
        <h4><%= @city.name %></h4>
      </div>
      <div>
        <%# -------------------------------Tags------------------------------- %>
        <%# <p><a href="#">Interests</a></p>
          <p>
            <span class="label label-default">News</span>
            <span class="label label-primary">W3Schools</span>
            <span class="label label-success">Labels</span>
            <span class="label label-info">Football</span>
            <span class="label label-warning">Gaming</span>
            <span class="label label-danger">Friends</span>
          </p> %>
        <%# -------------------------------End Tags------------------------------- %>
      
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <h2 class="text-center">Les Gossips de la ville</h2>
            </div>
          </div>
        </div>
        <% @city.gossips.each do |gossip| %>
          <div class="row d-flex justify-content-end">
            <div class="col-sm-9 d-flex">
              <div class="well m-5">
              <b><%= gossip.title %></b>
                <p><%= gossip.user.first_name %></p>
                <p class="text-decoration-none"><%= link_to 'Voir le gossip', gossip_path(gossip), class: "btn btn-info" %></p>
                <% if Like.find_by(gossip_id: gossip.id, user_id: current_user.id) %>
                  <% like = Like.find_by(gossip_id: gossip.id, user_id: current_user.id) %>
                  <%= button_to "#{gossip.likes.length } like(s)", gossip_like_path(gossip.id, like.id), method: :delete, class: "btn btn-danger" %>
                <% else %>
                  <%= form_tag gossip_likes_path(gossip.id), method: "post" do %>
                    <%= submit_tag "#{gossip.likes.length } Like(s)", class:"btn btn-default btn-sm" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
